.chethan{
    position: absolute;
    background:blanchedalmond ;
    top: 0px;
}
.img{
    height: 200px;
    width: 200px;
}
.PARA{
    position: fixed;
    top: 200PX;
    background-color: rgb(110, 22, 22);
}
.descent p{
    
    background-color: rgb(60, 127, 155);
}
.child + p {
    background-color: rgb(119, 156, 144);
}
.adjacent > p{
    background-color: rgb(89, 62, 113);
}
.siblings ~ p{
    background-color: rgb(156, 83, 157);
}